{% extends 'admin/layout/admin_base.html.twig' %}

{% block sidebar %}{% endblock %}
{% block content %}

<form action="{{ path('login') }}" method="post">
    <div class="form-group mt-5">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" />
        <input type="hidden" name="_target_path" value="/admin" />


        <button type="submit" class="btn btn-primary mt-3">Connection</button>
    </div>

</form>
{% endblock %}