<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top py-0">
    <a class="navbar-brand py-2" href="#">AMM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item py-2">
                <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link" href="{{ path('festival') }}">Le festival</a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link" href="#">Autres events</a>
            </li>
            <li class="nav-item py-2">
                <a class="nav-link" href="#">Gallerie</a>
            </li>
        </ul>
    </div>
</nav>