.artist, #festival_lineup .artist img {
  @include size(100%);
  opacity: 1;
}

#festival_lineup .artist img:hover {
  opacity: 0.8;
 // transition-duration: 0.5s;
}

.artist-infos {
  @include size(max-content, auto);
  max-width: 90%;
  background-color: $white;
  position: absolute;
  bottom: 0;
}

@include media-breakpoint-down(lg) {
  .artist-infos h3 {
    font-size: 1rem;
  }
}

