.navbar-collapse {
  height: $navbar-height;
}

.navbar-collapse.show {
  height: auto;
}

li.nav-item {
  color: white;
  transition: 0.7s;
  @include hover-focus-active {
    background-color: $lightPink;
    color: $black;
  }
}

li.nav-item > a {
  font-size: $nav-link-font-size;
  color: inherit;
}