{% extends "front/layout/base.html.twig" %}

{% block title %}AMM Fest {{ parent() }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-7">
            <h2 class="py-2 bg-secondary text-center text-uppercase">Nom</h2>
            <p>Style // Origine</p>
        </div>
        <div class="col-5">
            <p>Image</p>
        </div>
        <div class="col-12 text-center">
            <p>Description</p>
        </div>
        <div class="col-12 text-center">
            <p>Vidéo Youtube</p>
        </div>
    </div>
{% endblock %}

