{% extends 'front/layout/base.html.twig' %}

{% block title %}Gallerie - Liste des albums {{ parent() }}{% endblock %}
{% block content %}
    <h2 class="text-uppercase text-center font-weight-bold bg-secondary py-3">Les Albums</h2>
    <div class="container my-4">
        <div class="row">
            {% for album in albums %}
                    <div class="col-4 col-md-3">
                        <div class="card my-3">
                            <a href="{{ path('gallery_by_album', {'albumId': album.id}) }}">
                                <div class="card-body text-center album">
                                    <p>{{ album.name }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}