#contact-header {
  @include size(100%, $contact-header-height);
  background-image: url($contact-header-background-image);
  background-repeat: no-repeat;
  background-size: cover;

  button {
    background-color: $contact-header-button-color;
    border-radius: 0;

    span {
      opacity: initial;
    }
  }
}

#contact-form {
  border: 2px solid black;
  border-radius: 4px;
  #loadingAnimation {
    margin: auto;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
