div.event {
  @include size(200%, auto);
}

.eventTitle, .eventContent {
  @include size(50%, auto);
  display: inline-block;
}

.eventTitle {
  overflow: hidden;
}

.event-image {
  max-height: $event-image-height;
}

.eventTitleBackground {

  img {
    min-height: 100%;
    max-height: fit-content;

    filter: blur(8px);
    -ms-filter: blur(8px);
    -webkit-filter: blur(8px);
  }
}
