#homepage_social svg, footer svg {
  color: #f04d64;

  @include hover-focus-active {
    color: darken(#f04d64, 5%);
  }
}

footer {
  @include gradient-directional(#f04d64, #f1bec5, 65deg);
}
#logoFooter {
  min-height: 15em;
}